{% extends "layout.html" %}


{% block body %}

<br><br><br><p>Hello {{ request.user.username }}</p>
   <div class="container">

      <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">
        <h1>Article Detail</h1><hr>
          <!-- Title -->
          <h2 class="mt-4">{{ article.title }}</h2>

          <!-- Author -->
          <p class="lead">
            by
            <a href="#">{{ article.author }}</a>
          </p>

          <hr>

          <!-- Date/Time -->
          <p>{{ article.created_date}}</p>

          <hr>

          <!-- Preview Image -->
          <img class="img-fluid rounded" src="media/index.jpg" alt="">

          <hr>

          <!-- Post Content -->
          {{ article.content | safe }}

            <hr>
            <h3>Comments:</h3><hr>
            {% if comments %}
                {% for comment in comments %}
                <!-- Single Comment -->
           <div class="media mb-4">
            <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
             <div class="media-body">
               <h5 class="mt-0">{{ comment.comment_author }}</h5>
                 {{ comment.comment_date }}<br>
               {{ comment.comment_content }}
             </div>
           </div>

                {% endfor %}

            {% else %}
                <div class="alert alert-danger">There is no comment!!</div>
            {% endif %}



<hr>
<form method="post" action="{% url 'blog:comment' article.id %}">
    <div class="form-group">
      {% csrf_token %}

    <label for="formGroupExampleInput">Name:</label>
    <input name="comment_author" type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter your Name">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Comment</label>
    <input name="comment_content" type="text" class="form-control" id="formGroupExampleInput2" placeholder="Comment">
  </div>
                <button type="submit" >Add</button>

</form>

        </div>
      </div>
   </div>
{% endblock %}

