
{% extends "layout.html" %}
{% load crispy_forms_tags %}


{% block body %}

   <div class=" container row">
  <div class="col-lg-4 col-lg-offset-6" style="margin-top: 40px">
      <br><strong><h1 style="text-align:center">Login</h1></strong>
      <hr>
       <form method="post">
      {% csrf_token %}
      {{ form | crispy }}<a href="/password_reset/" >Forgot password?</a>
      <button class="btn btn-primary btn-block" style="margin-top: 15px">Login</button>
      </form>
   </div>
   </div>

{% endblock %}